@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');

 * {
    background-color: black;
}
 /* scrollbar */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.title {
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: 'Pixelify sans', sans-serif;
    margin-top: 200px;
}
.desc {
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: 'Pixelify sans', sans-serif;
    margin-top: 50px;
}
.header {
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: 'Pixelify sans', sans-serif;
    margin-top: 50px;
}
.link {
    color: turquoise;
    text-decoration: underline;
    font-family: 'Pixelify sans', sans-serif;
    font-size: 18px;
    margin: 0;
    word-wrap: break-word;
    overflow: hidden;
}

.card-container {
    align-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center; /* Center cards horizontally */
    gap: 10px; /* changes the gap in between the cards */
  }

.card {
    width: auto;
    height: auto;
    box-sizing: border-box;
    background-color: #000000;
    border: 1px solid #727272;
    border-radius: 8px;
    text-align: left;
    padding: 20px;
    cursor: pointer;
    transition: .30s ease;

}

.card:hover {
    transform: translateY(-5px);
}

.card-static {
    width: auto;
    height: auto;
    box-sizing: border-box;
    background-color: #000000;
    border: 1px solid #727272;
    border-radius: 8px;
    text-align: left;
    padding: 20px;

    transition: .30s ease;

}

/* Image styling */
.card-smallimg {
    width: 32px;
    height: 32px;
    object-fit: cover;
    margin-bottom: 10px;
    user-select: none;
    transition: .30s ease;
}

/* Text styling */
.card-desc  {
    background-color: #000000;
    font-family: 'Pixelify sans', sans-serif;
    font-size: 18px;
    color: white;
    margin: 0;
    user-select: none;
    word-wrap: break-word;
    overflow: hidden;
}

.card-title {
    background-color: #000000;
    user-select: none;
    font-family: 'Pixelify sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
    margin: 0;
    user-select: none;
    overflow: hidden;
}
.card-qrcode {
    width: 240px;
    height: 240px;

}

